{% set icon = model.icon %}
{% set image = model.image %}
{% set title = model.title %}
{% set type = model.type %}
{% set description = model.description %}
{% set options = options is defined ? options : model.options %}

<div {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }} class="flex flex-col {{ options.align == 'center' ? 'items-center text-center' : 'items-start' }} gap-1 md:gap-2">
	{% if icon or image %}
		<div class="flex items-center">
			{% if type == 'icon' and icon %}
				{% include '@Components/Common/_icon.twig' with { name: icon, class: 'shrink-0 size-6 md:size-8 text-tertiary dark:text-accent-dark' } %}
			{% elseif type == 'image' and image %}
				<img src="{{ image.src }}" alt="{{ image.alt }}" class="w-auto h-6 md:h-8"/>
			{% endif %}
		</div>
	{% endif %}
	<div class="flex flex-col {{ options.align == 'center' ? 'items-center' : 'items-start' }} justify-center w-full min-w-0 gap-1 md:gap-2">
		<div class="text-heading font-medium dark:text-white {{type == 'figure' ? 'min-6-h md:min-h-8 text-lg md:text-3xl' : 'text-lg md:text-lg'}}">{{title}}</div>
		{% if description %}
			<p class="text-text dark:text-text-dark">{{description}}</p>
		{% endif %}
	</div>
</div>
