{% set portalId = '21666517' %}
{% set formId = model.formId ?? formId ?? model.formID ?? model.form_id %}
{% set redirectRules = model.redirectRules ?? redirectRules ?? [] %}
{% set options = options is defined ? options : {} %}
{% set isRaw = options.raw ?? false %}
{% set isTransparent = options.transparent ?? false %}

<flynt-component name="BlockHubspotFormNew" load:on="visible">
	{% if formId %}
		<div class="{{ isTransparent ? 'p-2' : 'bg-white border border-border-card p-6 md:p-8' }} rounded-2xl md:rounded-3xl ">
			<div class="hs-form-html" data-region="na1" data-form-id="{{ formId|e('html_attr') }}" data-portal-id="{{ portalId|e('html_attr') }}" data-redirect-rules='{{ redirectRules|json_encode|e('html_attr') }}' {{ isRaw ? 'data-raw' : '' }}></div>
		</div>
	{% endif %}
</flynt-component>
