{% if model and model.title and model.url %}
	{% set type = type is defined ? type : model.type|default('primary') %}
	{% set blockMode = blockMode is defined ? blockMode : model.bloblockModeck %}
	{% set class = class is defined ? class : model.class|default('') %}
	{% set baseClass = 'py-2 px-4 items-center gap-x-2 text-sm text-nowrap rounded-xl transition disabled:opacity-50 disabled:pointer-events-none shadow-xs w-full md:w-auto text-center' %}
	{% set blockClass = blockMode ? 'block' : 'block md:inline-flex' %}

	{% set variantClass = {
    'primary': 'border border-transparent bg-primary text-white hover:bg-primary-900 focus:bg-primary-900',
    'secondary': 'border border-border bg-light text-heading hover:text-primary focus:text-primary '
  }[type] %}

	<a data-ref="{{model.ref}}" type="button" class="{{ baseClass }} {{blockClass}} {{ variantClass }} {{ class }}" href="{{ model.url|e('esc_url') }}" target="{{ model.target|default('_self')|e }}">
		{{ model.title }}
	</a>
{% endif %}
{# {% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %} #}
