{% set icons = {
  email: '
  <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"/><rect x="2" y="4" width="20" height="16" rx="2"/></svg>
  ',
  hardHat: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 10V5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5"/><path d="M14 6a6 6 0 0 1 6 6v3"/><path d="M4 15v-3a6 6 0 0 1 6-6"/><rect x="2" y="15" width="20" height="4" rx="1"/></svg>
  ',
  cog: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M11 10.27 7 3.34"/><path d="m11 13.73-4 6.93"/><path d="M12 22v-2"/><path d="M12 2v2"/><path d="M14 12h8"/><path d="m17 20.66-1-1.73"/><path d="m17 3.34-1 1.73"/><path d="M2 12h2"/><path d="m20.66 17-1.73-1"/><path d="m20.66 7-1.73 1"/><path d="m3.34 17 1.73-1"/><path d="m3.34 7 1.73 1"/><circle cx="12" cy="12" r="2"/><circle cx="12" cy="12" r="8"/></svg>
  ',  
  sheet: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/><line x1="3" x2="21" y1="9" y2="9"/><line x1="3" x2="21" y1="15" y2="15"/><line x1="9" x2="9" y1="9" y2="21"/><line x1="15" x2="15" y1="9" y2="21"/></svg>
  ',
  calculator: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="16" height="20" x="4" y="2" rx="2"/><line x1="8" x2="16" y1="6" y2="6"/><line x1="16" x2="16" y1="14" y2="18"/><path d="M16 10h.01"/><path d="M12 10h.01"/><path d="M8 10h.01"/><path d="M12 14h.01"/><path d="M8 14h.01"/><path d="M12 18h.01"/><path d="M8 18h.01"/></svg>
  ',
  search:'
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>
  ',
  minus: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/></svg>
  ',
  smartphone: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M13 21h8"/><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/></svg>
  ',
  penLine: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M13 21h8"/><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/></svg>
  ',
  hourglass: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M5 22h14"/><path d="M5 2h14"/><path d="M17 22v-4.172a2 2 0 0 0-.586-1.414L12 12l-4.414 4.414A2 2 0 0 0 7 17.828V22"/><path d="M7 2v4.172a2 2 0 0 0 .586 1.414L12 12l4.414-4.414A2 2 0 0 0 17 6.172V2"/></svg>
  ',
  dollarSign: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><circle cx="12" cy="12" r="10"/><path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/><path d="M12 18V6"/></svg>
  ',
  dollarBadge: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M12 22v-2"/><path d="M12 2v2"/><path d="M14 12h8"/><path d="m17 20.66-1-1.73"/><path d="m17 3.34-1 1.73"/><path d="M2 12h2"/><path d="m20.66 17-1.73-1"/><path d="m20.66 7-1.73 1"/><path d="m3.34 17 1.73-1"/><path d="m3.34 7 1.73 1"/><circle cx="12" cy="12" r="2"/><circle cx="12" cy="12" r="8"/></svg>
  ',  
  zap: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"/></svg>
  ',
  file: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/></svg>
  ',
  calendar: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/></svg>
  ',
  calendarClock: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M16 14v2.2l1.6 1"/><path d="M16 2v4"/><path d="M21 7.5V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h3.5"/><path d="M3 10h5"/><path d="M8 2v4"/><circle cx="16" cy="16" r="6"/></svg>
  ',
  calendarCheck: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M8 2v4"/><path d="M16 2v4"/><rect width="18" height="18" x="3" y="4" rx="2"/><path d="M3 10h18"/><path d="m9 16 2 2 4-4"/></svg>
  ',
  presentation: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M2 3h20"/><path d="M21 3v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V3"/><path d="m7 21 5-5 5 5"/></svg>
  ',
  user: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
  ',
  fileText: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/><path d="M10 9H8"/><path d="M16 13H8"/><path d="M16 17H8"/></svg>
  ',
  circleCheck: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" ><path d="M21.801 10A10 10 0 1 1 17 3.335"/><path d="m9 11 3 3L22 4"/></svg>
  ',
  check: '
  <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>
  ',
  chevronDown: '
   <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
  ',
  chevronUp: '
  <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
  ',
  chevronRight: '
  <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
  ',
  chevronLeft: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
  ',
  home: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
  ',
  marker : '
    <svg class="{{ class }}" {{ a11y }} width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.3531 3.51719C11.059 2.83888 10.6348 2.22472 10.1047 1.70937C9.5728 1.18937 8.94576 0.776654 8.25781 0.49375C7.54219 0.196875 6.78281 0.046875 6 0.046875C5.21719 0.046875 4.45781 0.196875 3.74219 0.492188C3.05 0.778125 2.42969 1.1875 1.89531 1.70781C1.3655 2.22345 0.941431 2.83753 0.646875 3.51562C0.342187 4.21875 0.1875 4.96562 0.1875 5.73438C0.1875 6.8375 0.451563 7.93594 0.970313 8.99531C1.3875 9.84688 1.97031 10.6766 2.70469 11.4656C3.95938 12.8125 5.275 13.6359 5.64844 13.8562C5.75444 13.9189 5.87533 13.9518 5.99844 13.9516C6.12031 13.9516 6.24062 13.9203 6.34844 13.8562C6.72187 13.6359 8.0375 12.8125 9.29219 11.4656C10.0266 10.6781 10.6094 9.84688 11.0266 8.99531C11.5484 7.9375 11.8125 6.84062 11.8125 5.73594C11.8125 4.96719 11.6578 4.22031 11.3531 3.51719ZM6 12.7531C4.97031 12.0984 1.3125 9.50625 1.3125 5.73594C1.3125 4.51875 1.79844 3.375 2.68125 2.5125C3.56719 1.64844 4.74531 1.17188 6 1.17188C7.25469 1.17188 8.43281 1.64844 9.31875 2.51406C10.2016 3.375 10.6875 4.51875 10.6875 5.73594C10.6875 9.50625 7.02969 12.0984 6 12.7531ZM6 3.10938C4.48125 3.10938 3.25 4.34062 3.25 5.85938C3.25 7.37813 4.48125 8.60938 6 8.60938C7.51875 8.60938 8.75 7.37813 8.75 5.85938C8.75 4.34062 7.51875 3.10938 6 3.10938ZM7.2375 7.09688C7.07519 7.25965 6.8823 7.38873 6.66992 7.47668C6.45754 7.56464 6.22987 7.60973 6 7.60938C5.53281 7.60938 5.09375 7.42656 4.7625 7.09688C4.59972 6.93457 4.47065 6.74167 4.38269 6.5293C4.29474 6.31692 4.24964 6.08924 4.25 5.85938C4.25 5.39219 4.43281 4.95312 4.7625 4.62187C5.09375 4.29062 5.53281 4.10938 6 4.10938C6.46719 4.10938 6.90625 4.29062 7.2375 4.62187C7.56875 4.95312 7.75 5.39219 7.75 5.85938C7.75 6.32656 7.56875 6.76562 7.2375 7.09688Z" fill="black" fill-opacity="0.45"/>
      <path d="M6 0.379883C6.73953 0.379883 7.45533 0.521943 8.12988 0.801758H8.13086C8.77922 1.06838 9.37078 1.45719 9.87207 1.94727V1.94824C10.3709 2.43313 10.77 3.01122 11.0469 3.64941C11.3334 4.31059 11.4795 5.01304 11.4795 5.73633C11.4794 6.78639 11.2282 7.83281 10.7275 8.84766V8.84863C10.3265 9.66714 9.76354 10.4718 9.04883 11.2383H9.04785C7.82339 12.5527 6.53757 13.3576 6.17871 13.5693H6.17773C6.12352 13.6015 6.06234 13.6182 5.99805 13.6182C5.9349 13.6183 5.87277 13.6014 5.81836 13.5693H5.81738C5.45818 13.3574 4.17248 12.5525 2.94824 11.2383C2.23327 10.47 1.67041 9.66691 1.26953 8.84863C0.771537 7.8316 0.520508 6.78305 0.520508 5.73438C0.520508 5.01112 0.666641 4.30959 0.953125 3.64844L0.952148 3.64746C1.22941 3.00941 1.62938 2.4315 2.12793 1.94629C2.63203 1.4555 3.21648 1.06943 3.86914 0.799805V0.800781C4.54407 0.522262 5.26041 0.379883 6 0.379883ZM6 0.838867C4.65955 0.838867 3.39725 1.3479 2.44824 2.27344V2.27441C1.50243 3.19857 0.979492 4.428 0.979492 5.73633C0.979618 7.73252 1.94738 9.39842 3.01855 10.6318C4.09105 11.8667 5.29254 12.698 5.82129 13.0342L6 13.1484L6.17871 13.0342C6.70746 12.698 7.90895 11.8667 8.98145 10.6318C10.0526 9.39842 11.0204 7.73252 11.0205 5.73633C11.0205 4.42802 10.4979 3.19812 9.55176 2.27539C8.60268 1.34812 7.34047 0.838867 6 0.838867ZM6 3.44238C7.33466 3.44238 8.41699 4.52472 8.41699 5.85938C8.41699 7.19403 7.33466 8.27637 6 8.27637C4.66534 8.27637 3.58301 7.19403 3.58301 5.85938C3.58301 4.52472 4.66534 3.44238 6 3.44238ZM6 3.77637C5.44458 3.77637 4.92025 3.99186 4.52637 4.38574V4.38672C4.13529 4.77965 3.91725 5.30267 3.91699 5.8584C3.91657 6.13221 3.97043 6.40425 4.0752 6.65723C4.15381 6.84691 4.25968 7.02365 4.38965 7.18164L4.52734 7.33301C4.92051 7.72432 5.4439 7.94238 6 7.94238V7.94141C6.27364 7.94176 6.54503 7.88888 6.79785 7.78418C7.05048 7.67948 7.28049 7.52661 7.47363 7.33301C7.86752 6.93912 8.08301 6.41479 8.08301 5.85938C8.08301 5.30396 7.86752 4.77963 7.47363 4.38574C7.07975 3.99186 6.55542 3.77637 6 3.77637Z" stroke="black" stroke-opacity="0.45" stroke-width="0.666667"/>
    </svg>
     ',
  stars: '
  <div class="flex items-center  gap-1">
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
  </div>
  ',
  menu: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/>
    </svg>
  ',
  close: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 6 6 18"/><path d="m6 6 12 12"/>
    </svg>
  ',
  link: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
  ',
  facebook: '
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" {{ a11y }} width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99984 2.11523C5.58169 2.11523 2 5.71015 2 10.1446C2 13.9101 4.58299 17.0698 8.0674 17.9376V12.5984H6.41783V10.1446H8.0674V9.08731C8.0674 6.35443 9.29969 5.08771 11.9729 5.08771C12.4798 5.08771 13.3543 5.1876 13.7121 5.28716V7.5113C13.5233 7.49139 13.1953 7.48143 12.7879 7.48143C11.4763 7.48143 10.9694 7.98022 10.9694 9.27681V10.1446H13.5825L13.1335 12.5984H10.9694V18.1152C14.9306 17.6351 18 14.2499 18 10.1446C17.9997 5.71015 14.418 2.11523 9.99984 2.11523Z" fill="currentColor"/></svg>
  ',
  linkedin: '
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" {{ a11y }} width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.8156 2.11523H3.18125C2.52812 2.11523 2 2.63086 2 3.26836V16.959C2 17.5965 2.52812 18.1152 3.18125 18.1152H16.8156C17.4688 18.1152 18 17.5965 18 16.9621V3.26836C18 2.63086 17.4688 2.11523 16.8156 2.11523ZM6.74687 15.7496H4.37188V8.11211H6.74687V15.7496ZM5.55938 7.07148C4.79688 7.07148 4.18125 6.45586 4.18125 5.69648C4.18125 4.93711 4.79688 4.32148 5.55938 4.32148C6.31875 4.32148 6.93437 4.93711 6.93437 5.69648C6.93437 6.45273 6.31875 7.07148 5.55938 7.07148ZM15.6344 15.7496H13.2625V12.0371C13.2625 11.1527 13.2469 10.0121 12.0281 10.0121C10.7937 10.0121 10.6062 10.9777 10.6062 11.9746V15.7496H8.2375V8.11211H10.5125V9.15586H10.5437C10.8594 8.55586 11.6344 7.92148 12.7875 7.92148C15.1906 7.92148 15.6344 9.50273 15.6344 11.559V15.7496Z" fill="currentColor"/></svg>
  ',
  instagram: '
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" {{ a11y }}  width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0047 3.44062C12.1434 3.44062 12.3967 3.45 13.2378 3.4875C14.0195 3.52187 14.4417 3.65313 14.7231 3.7625C15.0952 3.90625 15.3641 4.08125 15.6424 4.35938C15.9238 4.64062 16.0958 4.90625 16.2396 5.27813C16.349 5.55938 16.4804 5.98438 16.5148 6.7625C16.5523 7.60625 16.5617 7.85938 16.5617 9.99375C16.5617 12.1313 16.5523 12.3844 16.5148 13.225C16.4804 14.0063 16.349 14.4281 16.2396 14.7094C16.0958 15.0813 15.9207 15.35 15.6424 15.6281C15.361 15.9094 15.0952 16.0813 14.7231 16.225C14.4417 16.3344 14.0164 16.4656 13.2378 16.5C12.3936 16.5375 12.1403 16.5469 10.0047 16.5469C7.86594 16.5469 7.61266 16.5375 6.77155 16.5C5.98984 16.4656 5.56772 16.3344 5.2863 16.225C4.91421 16.0813 4.6453 15.9063 4.36701 15.6281C4.0856 15.3469 3.91362 15.0813 3.76979 14.7094C3.66035 14.4281 3.52902 14.0031 3.49463 13.225C3.4571 12.3813 3.44772 12.1281 3.44772 9.99375C3.44772 7.85625 3.4571 7.60313 3.49463 6.7625C3.52902 5.98125 3.66035 5.55938 3.76979 5.27813C3.91362 4.90625 4.08872 4.6375 4.36701 4.35938C4.64843 4.07812 4.91421 3.90625 5.2863 3.7625C5.56772 3.65313 5.99296 3.52187 6.77155 3.4875C7.61266 3.45 7.86594 3.44062 10.0047 3.44062ZM10.0047 2C7.83154 2 7.55951 2.00937 6.70588 2.04688C5.85538 2.08438 5.27067 2.22187 4.76412 2.41875C4.23568 2.625 3.78855 2.89688 3.34454 3.34375C2.8974 3.7875 2.62537 4.23438 2.419 4.75938C2.22201 5.26875 2.08442 5.85 2.0469 6.7C2.00938 7.55625 2 7.82812 2 10C2 12.1719 2.00938 12.4438 2.0469 13.2969C2.08442 14.1469 2.22201 14.7313 2.419 15.2375C2.62537 15.7656 2.8974 16.2125 3.34454 16.6562C3.78855 17.1 4.23568 17.375 4.76099 17.5781C5.27067 17.775 5.85226 17.9125 6.70275 17.95C7.55638 17.9875 7.82841 17.9969 10.0016 17.9969C12.1747 17.9969 12.4467 17.9875 13.3004 17.95C14.1509 17.9125 14.7356 17.775 15.2421 17.5781C15.7674 17.375 16.2146 17.1 16.6586 16.6562C17.1026 16.2125 17.3778 15.7656 17.581 15.2406C17.778 14.7313 17.9156 14.15 17.9531 13.3C17.9906 12.4469 18 12.175 18 10.0031C18 7.83125 17.9906 7.55938 17.9531 6.70625C17.9156 5.85625 17.778 5.27188 17.581 4.76562C17.384 4.23438 17.112 3.7875 16.6648 3.34375C16.2208 2.9 15.7737 2.625 15.2484 2.42188C14.7387 2.225 14.1571 2.0875 13.3066 2.05C12.4499 2.00938 12.1778 2 10.0047 2Z" fill="currentColor"/><path d="M10.0044 5.89062C7.73428 5.89062 5.89258 7.73125 5.89258 10C5.89258 12.2688 7.73428 14.1094 10.0044 14.1094C12.2744 14.1094 14.1161 12.2688 14.1161 10C14.1161 7.73125 12.2744 5.89062 10.0044 5.89062ZM10.0044 12.6656C8.53162 12.6656 7.33717 11.4719 7.33717 10C7.33717 8.52813 8.53162 7.33437 10.0044 7.33437C11.4771 7.33437 12.6715 8.52813 12.6715 10C12.6715 11.4719 11.4771 12.6656 10.0044 12.6656Z" fill="currentColor"/><path d="M15.2392 5.72891C15.2392 6.26016 14.8077 6.68828 14.2793 6.68828C13.7477 6.68828 13.3193 6.25703 13.3193 5.72891C13.3193 5.19766 13.7508 4.76953 14.2793 4.76953C14.8077 4.76953 15.2392 5.20078 15.2392 5.72891Z" fill="currentColor"/></svg>
  ',
} %}

{% set rawIcon = icons[name]|default('<!-- Icon not found -->') %}
{% set a11y = ariaLabel is defined and ariaLabel
  ? 'aria-label="' ~ ariaLabel ~ '"'
  : 'aria-hidden="true"' %}

{{ rawIcon
  | replace({
      '{{ class }}': class|default('w-5 h-5'),
      '{{ a11y }}': a11y
    })
  | raw
}}
