{% set icons = {
  chevronDown: '
   <svg class="{{ class }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
  ',
  chevronUp: '
  <svg class="{{ class }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
  ',
  chevronRight: '
  <svg class="{{ class }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right-icon lucide-chevron-right"><path d="m9 18 6-6-6-6"/></svg>
  ',
  chevronLeft: '
    <svg class="{{ class }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left-icon lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>
  ',
  home: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
  ',
  stars: '
  <div class="flex items-center  gap-1">
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
    <svg class="{{ class }} text-warning dark:text-warning" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
    </svg>
  </div>
  ',
  menu: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <path d="M4 12h16"/><path d="M4 18h16"/><path d="M4 6h16"/>
    </svg>
  ',
  close: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24"
      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <path d="M18 6 6 18"/><path d="m6 6 12 12"/>
    </svg>
  ',
  link: '
    <svg class="{{ class }}" {{ a11y }} xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
  ',
  facebook: '
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" {{ a11y }} width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M9.99984 2.11523C5.58169 2.11523 2 5.71015 2 10.1446C2 13.9101 4.58299 17.0698 8.0674 17.9376V12.5984H6.41783V10.1446H8.0674V9.08731C8.0674 6.35443 9.29969 5.08771 11.9729 5.08771C12.4798 5.08771 13.3543 5.1876 13.7121 5.28716V7.5113C13.5233 7.49139 13.1953 7.48143 12.7879 7.48143C11.4763 7.48143 10.9694 7.98022 10.9694 9.27681V10.1446H13.5825L13.1335 12.5984H10.9694V18.1152C14.9306 17.6351 18 14.2499 18 10.1446C17.9997 5.71015 14.418 2.11523 9.99984 2.11523Z" fill="currentColor"/></svg>
  ',
  linkedin: '
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" {{ a11y }} width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.8156 2.11523H3.18125C2.52812 2.11523 2 2.63086 2 3.26836V16.959C2 17.5965 2.52812 18.1152 3.18125 18.1152H16.8156C17.4688 18.1152 18 17.5965 18 16.9621V3.26836C18 2.63086 17.4688 2.11523 16.8156 2.11523ZM6.74687 15.7496H4.37188V8.11211H6.74687V15.7496ZM5.55938 7.07148C4.79688 7.07148 4.18125 6.45586 4.18125 5.69648C4.18125 4.93711 4.79688 4.32148 5.55938 4.32148C6.31875 4.32148 6.93437 4.93711 6.93437 5.69648C6.93437 6.45273 6.31875 7.07148 5.55938 7.07148ZM15.6344 15.7496H13.2625V12.0371C13.2625 11.1527 13.2469 10.0121 12.0281 10.0121C10.7937 10.0121 10.6062 10.9777 10.6062 11.9746V15.7496H8.2375V8.11211H10.5125V9.15586H10.5437C10.8594 8.55586 11.6344 7.92148 12.7875 7.92148C15.1906 7.92148 15.6344 9.50273 15.6344 11.559V15.7496Z" fill="currentColor"/></svg>
  ',
  instagram: '
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ class }}" {{ a11y }}  width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0047 3.44062C12.1434 3.44062 12.3967 3.45 13.2378 3.4875C14.0195 3.52187 14.4417 3.65313 14.7231 3.7625C15.0952 3.90625 15.3641 4.08125 15.6424 4.35938C15.9238 4.64062 16.0958 4.90625 16.2396 5.27813C16.349 5.55938 16.4804 5.98438 16.5148 6.7625C16.5523 7.60625 16.5617 7.85938 16.5617 9.99375C16.5617 12.1313 16.5523 12.3844 16.5148 13.225C16.4804 14.0063 16.349 14.4281 16.2396 14.7094C16.0958 15.0813 15.9207 15.35 15.6424 15.6281C15.361 15.9094 15.0952 16.0813 14.7231 16.225C14.4417 16.3344 14.0164 16.4656 13.2378 16.5C12.3936 16.5375 12.1403 16.5469 10.0047 16.5469C7.86594 16.5469 7.61266 16.5375 6.77155 16.5C5.98984 16.4656 5.56772 16.3344 5.2863 16.225C4.91421 16.0813 4.6453 15.9063 4.36701 15.6281C4.0856 15.3469 3.91362 15.0813 3.76979 14.7094C3.66035 14.4281 3.52902 14.0031 3.49463 13.225C3.4571 12.3813 3.44772 12.1281 3.44772 9.99375C3.44772 7.85625 3.4571 7.60313 3.49463 6.7625C3.52902 5.98125 3.66035 5.55938 3.76979 5.27813C3.91362 4.90625 4.08872 4.6375 4.36701 4.35938C4.64843 4.07812 4.91421 3.90625 5.2863 3.7625C5.56772 3.65313 5.99296 3.52187 6.77155 3.4875C7.61266 3.45 7.86594 3.44062 10.0047 3.44062ZM10.0047 2C7.83154 2 7.55951 2.00937 6.70588 2.04688C5.85538 2.08438 5.27067 2.22187 4.76412 2.41875C4.23568 2.625 3.78855 2.89688 3.34454 3.34375C2.8974 3.7875 2.62537 4.23438 2.419 4.75938C2.22201 5.26875 2.08442 5.85 2.0469 6.7C2.00938 7.55625 2 7.82812 2 10C2 12.1719 2.00938 12.4438 2.0469 13.2969C2.08442 14.1469 2.22201 14.7313 2.419 15.2375C2.62537 15.7656 2.8974 16.2125 3.34454 16.6562C3.78855 17.1 4.23568 17.375 4.76099 17.5781C5.27067 17.775 5.85226 17.9125 6.70275 17.95C7.55638 17.9875 7.82841 17.9969 10.0016 17.9969C12.1747 17.9969 12.4467 17.9875 13.3004 17.95C14.1509 17.9125 14.7356 17.775 15.2421 17.5781C15.7674 17.375 16.2146 17.1 16.6586 16.6562C17.1026 16.2125 17.3778 15.7656 17.581 15.2406C17.778 14.7313 17.9156 14.15 17.9531 13.3C17.9906 12.4469 18 12.175 18 10.0031C18 7.83125 17.9906 7.55938 17.9531 6.70625C17.9156 5.85625 17.778 5.27188 17.581 4.76562C17.384 4.23438 17.112 3.7875 16.6648 3.34375C16.2208 2.9 15.7737 2.625 15.2484 2.42188C14.7387 2.225 14.1571 2.0875 13.3066 2.05C12.4499 2.00938 12.1778 2 10.0047 2Z" fill="currentColor"/><path d="M10.0044 5.89062C7.73428 5.89062 5.89258 7.73125 5.89258 10C5.89258 12.2688 7.73428 14.1094 10.0044 14.1094C12.2744 14.1094 14.1161 12.2688 14.1161 10C14.1161 7.73125 12.2744 5.89062 10.0044 5.89062ZM10.0044 12.6656C8.53162 12.6656 7.33717 11.4719 7.33717 10C7.33717 8.52813 8.53162 7.33437 10.0044 7.33437C11.4771 7.33437 12.6715 8.52813 12.6715 10C12.6715 11.4719 11.4771 12.6656 10.0044 12.6656Z" fill="currentColor"/><path d="M15.2392 5.72891C15.2392 6.26016 14.8077 6.68828 14.2793 6.68828C13.7477 6.68828 13.3193 6.25703 13.3193 5.72891C13.3193 5.19766 13.7508 4.76953 14.2793 4.76953C14.8077 4.76953 15.2392 5.20078 15.2392 5.72891Z" fill="currentColor"/></svg>
  ',
} %}

{% set rawIcon = icons[name]|default('<!-- Icon not found -->') %}
{% set a11y = ariaLabel is defined and ariaLabel
  ? 'aria-label="' ~ ariaLabel ~ '"'
  : 'aria-hidden="true"' %}

{{ rawIcon
  | replace({
      '{{ class }}': class|default('w-5 h-5'),
      '{{ a11y }}': a11y
    })
  | raw
}}
