{% set image = model.posterImage %}
{% set oembed = model.oembed %}
{% set options = options is defined ? options : model.options %}

<flynt-component name="BlockVideoOembed" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<div class="container">
		<div class="video" data-size="full" data-align="center">
			{% if image %}
				<figure data-ref="posterImage" class="figure">
					{% if image.post_mime_type == 'image/svg+xml' %}
						<img class="figure-image-svg lazyload" src="{{ placeholderImage(1280, 720, 'rgba(125, 125, 125, 0.1)') }}" width="1280" height="720" data-src="{{ image.src }}" alt="{{ image.alt|e }}">
					{% else %}
						{% include '@Components/Common/_image.twig' with { model: image, size: 'large', class: 'figure-image' } only %}
					{% endif %}
					{% if image.caption %}
						<figcaption class="figure-caption">{{ image.caption|e }}</figcaption>
					{% endif %}
				</figure>
			{% endif %}
			<div data-ref="videoPlayer" class="video-player">
				{{ oembed }}
				<div class="video-loader"></div>
				<button data-ref="playButton" class="video-playButton" type="button" aria-label="Play Video"></button>
			</div>
		</div>
	</div>
</flynt-component>
