{% set icon = model.icon %}
{% set heading = model.heading %}
{% set features = model.features|default([]) %}
{% set action = model.action %}
{% set quote = model.quote %}
{% set image = model.image %}
{% set options = options is defined ? options : model.options %}
{% set imageDisplay = options.imageDisplay ?? 'right' %}

<flynt-component name="SectionFeatureImage" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<section class="max-w-6xl mx-auto py-6 md:py-12 lg:py-24 px-4 md:px-6 lg:px-8">
		<div class="bg-white border border-border-card rounded-3xl dark:bg-dark-shade dark:border-0 overflow-hidden">
			<div
				class="{{imageDisplay == 'full' ? 'flex flex-col' : 'grid md:grid-cols-12'}}">

				{# Content #}
				<div class="flex flex-col gap-4 justify-center {{imageDisplay == 'full' ? 'p-4 md:p-8 lg:p-10 md:px-14 lg:px-16' : 'p-4 md:p-10 md:gap-6 md:col-span-7'}} {{imageDisplay == 'left' ? 'order-2' : 'order-1' }}">
					{% if icon and imageDisplay != 'full' %}
						{% include '@Components/Common/_icon.twig' with { name: icon, class: 'size-6 text-text' } %}
					{% endif %}
					{% if heading %}
						{% include '@Components/Heading/index.twig' with { model: heading, options: {align: imageDisplay == 'full' ? 'center' : 'left'} } only %}
					{% endif %}
					{% if features %}
						<ul class="flex flex-col gap-3 md:gap-4 list-none ps-0 mb-2 {{imageDisplay == 'full' ? 'md:flex-row justify-center' : ''}}">
							{% for item in features %}
								<li class="flex items-center gap-2">
									{% include '@Components/Common/_icon.twig' with { name: 'check', class: 'flex-shrink-0 size-5 text-white bg-success p-1 rounded-full' } %}
									<span class="text-text dark:text-text-dark">{{ item.label }}</span>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if action %}
						{% include '@Components/Action/index.twig' with { model: action, options: {align: imageDisplay == 'full' ? 'center' : 'left'} } only %}
					{% endif %}

					{# Full image #}
					{% if imageDisplay == 'full' %}
						<div class="w-full flex justify-center mt-4">
							{% include '@Components/Common/_image.twig' with {
              model: image,
              size: 'large'
            } only %}
						</div>
					{% endif %}
					{% if quote %}
						<div class="mt-4 {{imageDisplay == 'full' ? 'flex justify-center' : 'md:mt-8'}}">
							{% include '@Components/Quote/index.twig' with { model: quote, options: {display: 'bordered'} } only %}
						</div>
					{% endif %}
				</div>

				{# Left-Right-aligned image #}
				{% if imageDisplay != 'full' %}
					<div class="flex justify-center items-end md:col-span-5 {{imageDisplay == 'left' ? 'order-1' : 'order-2' }}">
						{% include '@Components/Common/_image.twig' with {
              model: image,
              size: 'large'
            } only %}
					</div>
				{% endif %}

			</div>
		</div>
	</section>
</flynt-component>
