{% set backgroundImage = model.backgroundImage %}
{% set title = model.title %}
{% set contentHtml = model.contentHtml %}
{% set ctaType = model.ctaType %}
{% set ctaButtons = model.ctaButtons %}
{% set options = model.options %}

<flynt-component
	name="SectionHeroFull" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
	<!-- Hero -->
	<div class="relative isolate overflow-hidden  bg-testblue dark:bg-dark">
		{% if backgroundImage %}
			<div class="absolute inset-0 -z-10">
				<img class="lazyload h-full w-full object-cover object-center" src="{{ backgroundImage.src|resizeDynamic(768) }}" srcset="{{ placeholderImage(backgroundImage.width, backgroundImage.height, 'rgba(125, 125, 125, 0.1)') }}" data-srcset="{{ backgroundImage.src|resizeDynamic(1920) }} 1920w,{{ backgroundImage.src|resizeDynamic(1600) }} 1600w,{{ backgroundImage.src|resizeDynamic(1440) }} 1440w,{{ backgroundImage.src|resizeDynamic(1366) }} 1366w,{{ backgroundImage.src|resizeDynamic(1024) }} 1024w,{{ backgroundImage.src|resizeDynamic(768) }} 768w,{{ backgroundImage.src|resizeDynamic(640) }} 640w" data-sizes="auto" alt="{{ backgroundImage.alt|e }}">
				<div class="absolute inset-0 bg-black/40 dark:bg-black/60"></div>
			</div>
		{% endif %}
		<div class="max-w-7xl mx-auto p-6 sm:p-12 lg:p-24">
			<div class="max-w-4xl mx-auto flex flex-col justify-center sm:text-center gap-6 my-10 sm:my-12 lg:my-16">
				{% if title %}
					<h1 class="text-heading dark:text-white">
						<span>{{ title.before }}</span>
						<span class="text-accent dark:text-accent-dark">{{ title.highlight }}</span>
						<span>{{ title.after }}</span>
					</h1>
				{% endif %}

				{% if contentHtml %}
					<div class="prose mx-auto prose-p:space-y-2 dark:text-text-dark" aria-describedby="hero-description" id="hero-description">
						{{ contentHtml|e('wp_kses_post') }}
					</div>
				{% endif %}

				<!-- Buttons -->
				<div class="gap-3 flex flex-col sm:flex-row justify-start sm:justify-center items-center">
					{% if ctaType == 'buttons' %}
						{% if ctaButtons.primaryButton %}
							{% include '@Components/Button/index.twig' with { model: ctaButtons.primaryButton } only %}
						{% endif %}
						{% if ctaButtons.secondaryButton %}
							{% include '@Components/Button/index.twig' with { model: ctaButtons.secondaryButton, type: 'secondary' } only %}
						{% endif %}
					{% elseif ctaType == 'form' and gravityForm %}
						<div class="w-full max-w-2xl">
							{% set gravity_form_shortcode = '[gravityform id="' ~ gravityForm ~ '" title="false" description="false" ajax="true"]' %}

							{% apply shortcodes %}
							{{ gravity_form_shortcode }}
							{% endapply %}
						</div>
					{% endif %}
				</div>
			</div>
			<!-- End Buttons -->
		</div>
	</div>
	<!-- End Hero -->

</flynt-component>
{% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %}
