{% set portalId = model.portalId %}
{% set formId = model.formId %}
{% set redirectRules = model.redirectRules %}
{% set options = options is defined ? options : model.options %}
{% set isRaw = options.inline ?? false %}
{% set isTransparent = options.inline ?? false %}

<flynt-component name="BlockHubspotFormOld" load:on="visible">
	<div class="blockHubspotForm {{ isTransparent ? 'p-2' : 'bg-white border border-border-card p-6 md:p-8' }} rounded-2xl md:rounded-3xl ">
		<div class="blockHubspotForm__container js-hubspotForm" data-portal-id="{{ portalId }}" data-form-id="{{ formId }}" data-redirect-rules='{{ redirectRules|json_encode|e('html_attr') }}' {{ isRaw ? 'data-raw' : '' }}></div>
	</div>
</flynt-component>
