{% set quote = model.quote %}
{% set authorName = model.authorName %}
{% set sourceTitle = model.sourceTitle %}
{% set avatar = model.avatar %}
{% set options = options is defined ? options : model.options %}
{% set display = options.display %}

{% set blockquoteClasses = [
  'relative',
  display == 'bordered' ? 'm-0 border-s-4 border-border ps-4 sm:ps-6 dark:border-border-secondary' : 'border-0 ps-0 m-0',
] | join(' ') %}

<div {{ options.theme ? ' data-theme="' ~ options.theme ~ '"' }}>
	<blockquote class="{{ blockquoteClasses }}">
		<p class="sm:text-lg text-heading dark:text-white">
			{{ quote }}
		</p>

		{% if authorName or avatar or sourceTitle %}
			<div class="mt-4">
				<div class="flex items-center">
					{% if avatar and avatar.src %}
						<div class="shrink-0 rounded-full overflow-hidden">
							{% include '@Components/Avatar/index.twig' with { model: {
                src: avatar.src,
                alt: avatar.alt ?? authorName,
              }, options: { size: 'small', theme: options.theme }} only %}
						</div>
					{% endif %}
					<div class="ms-4">
						{% if authorName %}
							<div class="text-base text-heading dark:text-white">{{ authorName }}</div>
						{% endif %}
						{% if sourceTitle %}
							<div class="text-xs text-text dark:text-text-dark">{{ sourceTitle }}</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	</blockquote>
</div>
