<a href="{{ site.link|e('esc_url') }}" class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-hidden focus:opacity-80" alt="{{ logo.alt }}" aria-label="{{ logo.alt}}">
	<img class="h-8" src="{{ logo.src }}" fetchpriority="high" alt="{{ logo.alt }}">
</a>
