<a href="{{ site.link|e('esc_url') }}" {{ site.target ? 'target="' ~ site.target ~ '"' }} class="flex-none rounded-sm text-xl inline-block hover:opacity-80 focus:opacity-80" alt="{{ logo.alt }}" aria-label="{{ logo.alt}}">
	<img class="h-8" src="{{ logo.src }}" fetchpriority="high" alt="{{ logo.alt }}">
</a>
