{% set backgroundImage = model.backgroundImage %}
{% set mobileBackgroundImage = model.mobileBackgroundImage ? model.mobileBackgroundImage : backgroundImage %}
{% set backgroundVideo = model.backgroundVideo %}
{% set heading = model.heading|default([]) %}
{% set heading = heading|merge({ type: 'h1' }) %}
{% set mediaType = model.mediaType %}
{% set image = model.image %}
{% set mobileImage = model.mobileImage %}
{% set mobileImage = mobileImage ? mobileImage : image %}
{% set gravityForm = model.gravityForm %}
{% set video = model.video %}
{% set embed = model.embed %}
{% set hubspotForm = model.hubspotForm %}
{% set calendly = model.calendly %}
{% set action = model.action %}
{% set breadcrumbs = model.breadcrumbs %}
{% set features = model.features %}
{% set extraItems = model.extraItems %}
{% set options = options is defined ? options : model.options %}
{% set display = options.display ?? 'full' %}
{% set imageAlign = options.imageAlign ?? 'bottom' %}
{% set textAlign = options.textAlign ?? 'default' %}
{% set hasExtra = extraItems and extraItems|length > 0 %}

<flynt-component
	name="SectionHeroFull" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} class="edge-mask bg-white dark:bg-dark">
	<!-- Hero -->
	<section class="relative isolate overflow-hidden arc">
		{% if backgroundImage %}
			{% if backgroundVideo %}
				<video class="hidden md:block absolute inset-0 w-full h-full object-cover -z-10" autoplay muted loop playsinline preload="none">
					<source src="{{ backgroundVideo }}" type="video/mp4" media="(min-width: 768px)">
				</video>
			{% endif %}
			<div class="md:hidden absolute inset-0 -z-11">
				{% include '@Components/Common/_image.twig' with {
						model: mobileBackgroundImage,
						class: 'h-full w-full object-cover object-center',
						size: 'small'
					} only %}
			</div>
			<div class="hidden md:block absolute inset-0 -z-11">
				{% include '@Components/Common/_image.twig' with {
					model: backgroundImage,
					class: 'h-full w-full object-cover object-center',
					size: 'large'
				} only %}
			</div>
			<div class="absolute inset-0 bg-black/40 dark:bg-black/60 dark:bg-gradient-to-t to-30% from-black/90 to-transparent -z-10"></div>
		{% endif %}
		<div class="tw-section pt-0! {{imageAlign == 'bottom' ? 'py-0!' : ''}}">
			<div
				class="{{display == 'full' ? '' : 'grid md:grid-cols-12 gap-6 md:gap-8'}}">
				{# Content #}
				<div class="flex flex-col justify-center gap-6 md:gap-14 pt-6 pb-10 md:py-12 lg:py-18 xl:py-24 {{display == 'full' ? '' : 'md:col-span-8 mb-4'}}">
					<div class="max-w-4xl mx-auto flex flex-col justify-center gap-6 md:gap-8 my-10 md:my-14 {{display == 'full' ? ' items-center'}}">
						{% if breadcrumbs %}
							{% include '@Components/Breadcrumbs/index.twig' with { model: breadcrumbs } only %}
						{% endif %}
						{% include '@Components/Heading/index.twig' with { model: heading, options: {align:  textAlign != 'default' ? textAlign :(display == 'full' ? 'center' : 'left')} } only %}
						{% if features %}
							{% include '@Components/List/index.twig' with { model: features, options: options } only %}
						{% endif %}
						{% include '@Components/Action/index.twig' with { model: action,  options: {align: display == 'full' ? 'center' : 'left'} } only %}

						{% if mediaType == 'image' %}
							<div class="z-5 flex md:hidden justify-center items-end {{imageAlign == 'top' ? 'order-first' : ''}}">
								{% include '@Components/Common/_image.twig' with {
									model: mobileImage,
									size: 'small',
									class: 'max-w-sm'
								} only %}
							</div>
							{% if display == 'full' %}
								<div class="z-5 hidden md:flex justify-center items-end {{imageAlign == 'top' ? 'order-first' : ''}}">
									{% include '@Components/Common/_image.twig' with {
									model: image,
									size: 'medium',
									class: 'max-w-md'
								} only %}
								</div>
							{% endif %}
						{% endif %}
					</div>

					{% if hasExtra %}
						<div class="inner-tw-section">
							{% include '@Components/SectionIconItems/index.twig' with {model: extraItems, options: {theme: options.theme, align: display == 'full' ? 'center' : 'left'}} %}
						</div>
					{% endif %}
				</div>

				{% if display != 'full' and mediaType == 'image'%}
					<div class="z-5 hidden md:flex absolute inset-y-0 right-0 flex max-w-[34%] mt-10 justify-center {{imageAlign == 'top' ? 'items-start' : imageAlign == 'center' ? 'items-center' : 'items-end'}}">
						{% if image %}
							{% include '@Components/Common/_image.twig' with {
									model: image,
									size: 'medium',
									class: imageAlign == 'bottom' ? 'object-contain! h-full object-bottom!' : ''
								} only %}
						{% endif %}
					</div>
				{% endif %}

				{% if mediaType != 'none' and mediaType != 'image'%}
					<div class="block relative isolate overflow-hidden md:col-span-4  {{display == 'full' ? 'mb-10' : 'mb-10 md:mt-10'}}  {{imageAlign == 'bottom' ? 'mb-0!' : ''}}">
						<div class="flex justify-center items-center">
							{% include '@Components/Common/_media.twig' with { model: {
								gravityForm: gravityForm,
								video: video,
								embed: embed,
								hubspotForm: hubspotForm,
								calendly: calendly
							}, options: options } only %}
						</div>
					</div>
				{% endif %}

			</div>
		</div>
	</section>
	<!-- End Hero -->

	{% include '@Components/Common/_json.twig' with {value: model, varName: 'model'} %}
</flynt-component>
