{% set heading = model.heading|default([]) %}
{% set action = model.action %}
{% set options = options is defined ? options : model.options %}
{% set display = options.display ?? 'full' %}
{% set heading = heading|merge({ type: 'h3' }) %}
{% set theme =  options.theme == 'alt' ? 'light' : options.theme %}
{% set altMode =  options.theme == 'alt'  %}
{% set title =  heading.before|default('') ~ heading.highlight|default('') ~ heading.after|default('')  %}
{% set longTitle = display == 'split' and title|length > 30  %}
{% set description =  heading.description  %}
{% if longTitle %}
	{% set heading = heading|merge({ description: null }) %}
{% endif %}

<flynt-component name="SectionCallToAction" {{ options.theme ? 'data-theme="' ~ theme ~ '"' }} class="edge sand bg-shade dark:bg-dark">
	<section class="tw-section">
		<div class="bg-neutral-200/80 dark:bg-primary border border-border-secondary rounded-2xl md:rounded-3xl {{altMode ? 'bg-dark! border-0!' : ''}} dark:border-0 overflow-hidden">
			<div
				class="{{display == 'full' ? 'flex flex-col p-4 py-5 md:p-10 lg:p-14 md:px-14 lg:px-16' : 'grid md:grid-cols-12 p-4 py-5 md:p-6 lg:p-10 gap-5 lg:gap-6 xl:gap-10'}} {{longTitle ? 'lg:py-16 xl:p-16 sm:gap-6' : ''}}">
				{# Col 1 #}
				<div class="flex flex-col gap-4 lg:gap-6 justify-center {{display == 'full' ? '' : 'md:col-span-6' ~ (longTitle ? '' : ' lg:col-span-7') }}">
					{% if heading %}
						{% include '@Components/Heading/index.twig' with { model: heading, options: {align: display == 'full' ? 'center' : 'left', hideHighlight: theme == 'dark', theme: altMode ? 'dark' : theme} } only %}
					{% endif %}
					{% if action and display == 'full' %}
						{% if action.actionType == 'hubspot' and action.hubspotForm %}
							<div class="inline-hubspot-form"> 
								{% if action.hubspotForm.editor is defined and action.hubspotForm.editor == 'new' %}
									{% include '@Components/BlockHubspotFormNew/index.twig' with { model: action.hubspotForm, options: {raw: true, transparent: true} } only %}
								{% else %}
									{% include '@Components/BlockHubspotForm/index.twig' with { model: action.hubspotForm, options: {raw: true, transparent: true} } only %}
								{% endif %}
							</div>
						{% else %}
							{% include '@Components/Action/index.twig' with { model: action, options: {align: display == 'full' ? 'center' : 'left', inlineForm: display == 'split'} } only %}
						{% endif %}
					{% endif %}
				</div>

				{# Col 2 #}
				{% if display != 'full' %}
					<div class="flex flex-col justify-center {{longTitle ? 'md:items-start' : 'md:items-end'}} md:col-span-6 {{longTitle ? '' : 'lg:col-span-5'}} gap-4">
						{% if longTitle and description %}
							<div class="tw-prose {{altMode ? 'text-text-dark!' : ''}}">
								{{ description|e('wp_kses_post') }}
							</div>
						{% endif %}
						{% if action %}
							{% if action.actionType == 'hubspot' and action.hubspotForm %}
								<div class="inline-hubspot-form inline-hubspot-form-alt-button"> 
									{% if action.hubspotForm.editor is defined and action.hubspotForm.editor == 'new' %}
										{% include '@Components/BlockHubspotFormNew/index.twig' with { model: action.hubspotForm, options: {raw: true, transparent: true} } only %}
									{% else %}
										{% include '@Components/BlockHubspotForm/index.twig' with { model: action.hubspotForm, options: {raw: true, transparent: true} } only %}
									{% endif %}
								</div>
							{% else %}
								{% include '@Components/Action/index.twig' with { model: action, options: {align: display == 'full' ? 'center' : 'left', inlineForm: display == 'split'} } only %}
							{% endif %}
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</section>
</flynt-component>
